#Combo {
  display: flex;
  margin-bottom: 20px;

  > .combo-img {
    width: 150px;

    border-radius: 6px;
  }
}

.combo-content {
  width: 100%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  > .combo-name {
  }
  > .combo-desc {
  }
  > .combo-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.combo-quantity-special {
  text-align: center;
  padding-top: 6px;
  color: black !important;
  background-color: white !important;
  cursor: pointer !important;
}

.combo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1 solid lightgray !important;
}
