#food-combo {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 16px;

  > .food-combo-title {
    color: #4a4a4a;
    margin-bottom: 16px;
  }
  .combo-list {
    // background-color: bisque;
  }
}

.dashed {
  border: 1px dashed lightgray;
}
