#Carousel {
  position: relative;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide > div {
  width: auto;
  margin: 0 12px;
  @media (max-width: 1200px) {
    margin: 0;
  }
}

// Màn hình lớn nhất >= 1400
.carosel-imgage {
  width: 100%;
  @media (max-width: 1200px) {
    width: 80vw;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.slick-dots {
  position: absolute;
  margin-bottom: 50px;
  // padding: 10px;
  // bottom: 0;
  // display: block;
  // width: 100%;
  // padding: 0;
  // margin: 0;
  // list-style: none;
  // text-align: center;
}

// CSS BUTTON
.slick-next:before,
.slick-prev:before {
  content: "";
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABMSURBVHgB3dLBCQAgDANAcQJHcTQ3qJs6QkeIFQpi0frWQB6FI68GAFnKUgpeBDTMkAcr1nyPSzxZc6fdGpm1+gRSyFekcLxZc5GkA1JCBQ0g0YWBAAAAAElFTkSuQmCC);
  width: 9.71px;
  height: 16px;
  opacity: 1;
}

.slick-prev {
  left: -35px;
  z-index: 999;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #464444c4;
  &::before {
    transform: rotate(-180deg);
    margin-left: 60%;
  }
  &:hover {
    background: #464444c4;
  }
  &:focus {
    background: #464444c4;
  }
}
.slick-next {
  right: -35px;
  z-index: 999;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #464444c4;
  &::before {
    margin-right: 35%;
    margin-left: 15px;
  }
  &:hover {
    background: #464444c4;
  }
  &:focus {
    background: #464444c4;
  }
}
