.slick-slider {
  width: 100%;
  overflow: hidden;
}

.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}

// Kỹ thuật hình trọng tâm
.slick-slide > div {
  // width: 80vw;
  // margin-right: 10px;
  position: relative;
  width: 80vw;
  height: 500px;
  margin: 0 20px;
  // border: 1px solid black;
  overflow: hidden;
}

.trending-img {
  // width: calc(100% - 10px) !important;
  position: absolute;
  height: 100% !important;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slick-dots {
  position: absolute;
  margin-bottom: 50px;
}

/* For the demo */
.slick-prev,
.slick-next {
  z-index: 999 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}

// Từ từ responsive sau -> chưa cần thiết

@media (max-width: 1024px) {
  .slick-slide > div {
    position: relative;
    width: 80vw;
    height: 400px;
    margin: 0 10px;
    border: 1px solid red;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  // .slick-slide > div {
  //   width: 80vw;
  //   margin-right: 10px;
  // }
  // .slick-slider {
  //   width: 100%;
  //   overflow: hidden;
  //   //max-height: 400px; // Sét cứng height cho ảnh bìa luôn
  // }

  .slick-slide > div {
    position: relative;
    width: 100vw;
    height: 300px;
    margin: 0;
    border: 1px solid blue;

    overflow: hidden;
  }

  .trending-img {
    position: absolute;
    height: 100% !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
