#Booking {
  position: relative;
  min-height: 700px;
  background-color: #f9f9f9;

  //--------------------------------------------------------------------------------------//
  //                            Set width for content tab here                            //
  //--------------------------------------------------------------------------------------//

  > .bookingSlugTabs {
    width: 90%;
    margin: 0 auto;
  }
}

//--------------------------------------------------------------------------------------//
//                                 Tab Antd Custom CSS                                  //
//--------------------------------------------------------------------------------------//

.tabs-item {
  display: flex;
  justify-content: flex-start;
  border: 0px;
  width: 100%;
  > .tabs-item-content {
    width: 70%;
    padding: 30px 50px;
  }
}

.tabs-extra-booking-ticket {
  z-index: 1;
  width: 30%;
  position: absolute;
  top: 200%;
  right: 0;
  background-color: white;
}
