.BookingSlug {
  min-height: 900px;
  background-color: #f9f9f9;
  position: relative;

  //--------------------------------------------------------------------------------------//
  //                            Set width for content tab here                            //
  //--------------------------------------------------------------------------------------//
  > .bookingSlugTabs {
    // width này = tab antd + show ticket
    width: 90%;
    margin: 0 auto;
  }
}

//--------------------------------------------------------------------------------------//
//                                 Tab Antd Custom CSS                                  //
//--------------------------------------------------------------------------------------//

.tabs-item {
  border: 1px dotted black;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  > .tabs-item-content {
    width: 70%;
    padding: 30px 50px;
  }
}

.tabs-extra-booking-ticket {
  z-index: 1;
  width: 30%;
  position: absolute;
  top: 200%;
  right: 0;
  background-color: white;
}

.justify-center {
  justify-content: center !important;
}
