.cinema-position {
  .cinema-sesstion {
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .change-movie-time {
      //   width: max-content;
      text-wrap: nowrap;
      color: gray;
      margin: 0 10px;
    }

    .allBtnShowTime {
      display: flex;
      flex-wrap: wrap;

      .btnShowTime {
        background-color: white;
        border: 1px solid gainsboro;
        padding: 10px 20px;
        margin-left: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
      }

      .checked {
        background-color: #034ea2;
        color: white;
      }
    }
  }

  .row-position {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0;

    .spanName {
      //   background-color: #034ea2;
      color: gray;
      border: 0px;
      font-size: 18px;
      padding: 0px 30px;
      //   margin: 0 50px;
    }

    .spanName:hover {
      color: gray;
      border: 0px;
      font-size: 18px;
      padding: 0px 30px;
      background-color: white;
      cursor: default;
    }

    span {
      height: 20px;
      width: 20px;
      display: inline-block;
      border: 1px solid black;
      margin-right: 2px;
      color: white;
      text-align: center;
      border-radius: 5px;
      border: 1px solid gainsboro;
      font-size: 12px;
      cursor: pointer;
    }

    span:hover {
      background-color: orange;
      border: 1px solid orange;
      color: white;
      transition: background-color 0.3s;
    }

    .selected {
      background-color: orange;
      border: 1px solid orange;
      color: white;
    }

    .non-border {
      height: 10px;
      width: 20px;
      display: inline-block;
      border: 0px;
      cursor: default;
    }

    .non-border:hover {
      background-color: white;
      border: 0px;
    }
  }
}

// Long Thêm CSS

.seat-list {
  margin: 3px 0;
}

.row-position-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-dashed {
  border: 1px dashed lightgray;
}
