.bookingByCity {
  .booking_city {
    background-color: white;
    padding: 10px;
  }

  .booking_movies {
    background-color: white;
    padding: 10px;

    .box_movies {
      display: flex;
      gap: 1%;
      flex-wrap: wrap;

      .box_sub {
        width: 24%;
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      .box_sub:hover {
        border-radius: 10px;
        color: #034ea2;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .booking_session {
    background-color: white;
    padding: 10px;
  }

  button {
    border: 1px solid lightgray;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    // background-color: white;
  }
}

.movie-chooose {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  > h2 {
    margin: 10px 0;
  }
}

.is-acctive-class {
  background-color: #034ea2;
  border-radius: 10px;
  color: white;
}
