.ticket_box {
  border-top: 5px solid orange;
  border-radius: 5px;
  padding: 10px;

  > hr {
    margin: 10px 0px;
  }

  .ticket_info {
    display: flex;
    gap: 2%;
    padding-bottom: 20px;

    > img {
      width: 40%;
    }
  }

  .ticket_possition {
    padding: 16px 0;
    margin-top: 16px;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    display: flex;
    justify-content: space-between;
    &_price {
      text-wrap: nowrap;
    }
  }

  .ticket_allbill {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .ticket_button {
    display: flex;
    justify-content: center;
    gap: 5%;

    button {
      flex: 1;
      padding: 10px 0;
      height: 40px;
    }
  }
}

.food-combo-list {
  padding: 16px 0;
  // margin: 16px 0;
  border-bottom: 1px dashed gray;
  > .food-combo-item {
    display: flex;
    justify-content: space-between;
  }
}
