.Banking_Infor {
  padding-top: 20px;
  width: 100%;

  margin-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;

  .status-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
  }

  .order-detail {
    font-size: 14px;
    height: auto;
    padding: 15px;
    border: 1px solid #e0e0e0;
    display: block;

    .detail-order-no {
      display: flex;
      flex-direction: row;

      .break-line {
        display: inline-table;
        padding-right: 5px;
      }

      .order_code {
        font-weight: bolder;
      }
    }

    .detail-amount {
      display: flex;
      flex-direction: row;

      .break-line {
        display: inline-table;
        padding-right: 5px;
      }

      .money {
        color: orange;
        font-weight: bolder;
      }
    }
  }

  .form-payment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    background-color: #e0e0e0;

    .payment-form-and-message {
    }

    .bank-selection-message {
      text-align: center;
      color: black;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }

  .section-method {
    padding-top: 20px;

    .ul-method {
      display: flex;
      justify-content: space-between;
      list-style: none;
      border: 1px solid #ddd;
      padding: 10px 9px;
      background-color: #1f87dd;

      li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.selected {
          color: #ffffff;
        }

        &:hover {
          background-color: #1f87dd;
          color: #ffffff;
        }
      }
    }
  }

  .payment-method {
    .bank-logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      padding-top: 10px;

      img {
        width: 76px;
        height: 42px;
        margin-right: 8px;

        &.selected {
          background-color: #ddd;
          font-weight: bold;
        }
      }
    }
  }
}
