.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .custom-error-message {
    color: orange;
    font-size: 12px;
    font-weight: bolder;
  }

  .ant-form {
    width: 100%;
    max-width: 600px;

    .ant-form-item {
      margin-bottom: 10px;
    }

    .input-container {
      display: flex;
      flex-direction: column;

      .ant-input {
        /* Add any additional styles for the input fields here */
      }
    }

    .ant-btn {
      display: block;
      /* Display the button as a block element */
      width: 200px;
      /* Set the button width to your desired value */
      background-color: orange;
      margin: 0 auto;
      /* Center the button horizontally within the Form.Item */
    }
  }
}