.DetailFilm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;

    .trailer {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgPlay {
            position: absolute;
            cursor: pointer;
        }
    }

    .ContentDetailFilm {
        display: flex;
        justify-content: center;
        width: 65%;
        padding: 30px 0px;
        box-sizing: border-box;

        .col1 {
            width: 80%;

            h1 {
                font-size: 34px;
                font-weight: 700;
                font-family: "Nunito Sans", sans-serif;
                padding-right: 20px;
            }

            .subFilmInfo_span {
                width: 38px;
                height: 28px;
                display: flex;
                align-items: center;

            }

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 20px;
                border-left: 5px solid #034EA2;
                padding: 5px;
            }

            .filmInfo {
                display: flex;
                position: relative;
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
                justify-content: start;
                min-height: 400px;

                .subImg {
                    width: 30%;

                    .imgPoster {
                        position: absolute;
                        width: 30%;
                        top: -80px;
                        border: 1px solid white;
                        box-sizing: border-box;
                        border-radius: 5px;
                    }
                }

                .subFilmInfo {
                    width: 70%;
                    padding-left: 20px;

                    h1 {
                        display: flex;
                        align-items: center;
                        color: black;
                        font-size: 28px;
                        line-height: 42px;

                        span {
                            text-align: center;
                            font-size: 20px;
                            border-radius: 4px;
                            margin-left: 5px;
                            background-color: #F58020;
                            color: white;
                            padding: 8px;

                        }
                    }

                    p {
                        padding: 10px 0px;
                        color: #777777;
                    }

                    .pTimeInfo {
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;
                        color: black;
                        gap: 10px;
                        font-size: 14px;

                    }

                    .spanVote {
                        font-size: 20px;
                        color: #777777;

                    }

                    .spanVote_p {
                        font-size: 14px;
                    }
                }
            }

            .filmContent {
                padding: 20px 0px;

                p {
                    color: #777777;
                    padding: 10px 5px;
                }
            }

            .filmSection {}
        }

        .filmCommingSoon {
            padding: 0px 20px;
            width: 20%;

            h3 {
                font-size: 20px;
                border-left: 5px solid #034EA2;
                padding: 5px;
            }

            .subFilCS {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    text-align: center;
                    border: none;
                    font-size: 15px;
                }

                p {
                    text-align: center;
                    font-size: 13px;

                }

                .showing__film {
                    width: 100%;
                }
            }
        }
    }
}