.ShowTime {
  width: 80%;
  padding: 20px;
  font-family: "Nunito Sans", sans-serif;

  .dayList {
    display: flex;
    flex-direction: row;

    .days {
      list-style-type: none;
      display: flex;
    }

    li.selected {
      background-color: #034ea2;
      color: white;
    }

    .day {
      padding: 10px;
      border: 1px solid #ccc;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }

  .showtimeListBox {
    padding: 0px 10px;

    .showTimebox {
      width: 100%;

      h4 {
        padding: 10px 5px;
      }

      .sesstionBox {
        padding: 0px 20px 0px 10px;
        display: flex;
        gap: 20px;

        .caption {
          display: flex;
          gap: 5px;
        }

        p {
          width: max-content;
        }
      }

      .btnShowTime {
        margin-right: 5px;
        padding: 10px 30px;
        background-color: white;
        border: 1px solid lightgray;
        margin-bottom: 5px;
        border-radius: 5px;
      }

      .btnShowTime:hover {
        background-color: #034ea2;
        color: white;
      }
    }
  }
}

.is-Checked {
  background: #034ea2 !important;
  color: white;
}
