.History {
    padding: 20px;

    .listBoxTicket {
        display: flex;
        flex-wrap: wrap;
        gap: 1%;


        .boxTicket {
            border: 1px solid gainsboro;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            gap: 3%;
            align-items: center;
            width: 45%;
            margin-bottom: 10px;

            .imgBox {
                width: 15%;

                img {
                    width: 100%;
                }
            }

            .boxContent {}

        }


    }
}