.form_item_path{
    display: flex;
    justify-content: flex-end;
}
/* Styles for the left MyFormItems */
.left-myformitem {
    float: left;
    width: 46%;
    /* Adjust as needed */
}

/* Styles for the right MyFormItems */
.right-myformitem {
    float: right;
    width: 46%;
    /* Adjust as needed */
}
.InputItem{
    background-color: #f2f2f2;
}
/* Clear floating elements to prevent layout issues */
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.BtnUpdate {
    display: flex;
    justify-content: flex-end;
    
}
.changepassword{
    position: absolute;
    z-index: 100;
    position: absolute;
    right: 10px;
    bottom: 6px;
    cursor: pointer;
    filter: grayscale(0);
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
    color: orange;
    
}

