.UserDashboard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.User_Infor_list {
display: flex;
    flex: 1;
    padding: 40px;
    background-color: white;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    

    .User_Infor1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
        align-items: center;
        justify-items: center;
        
        
    }
         div.img_3 {
             align-items: center;
             justify-items: center;
             padding-top: 5px;
         }

    .img {
        padding-top: 15px;
        padding-right: 15px;
    }

    .User_Infor_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Infor_items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .img_01 {
        width: 20px;
        height: 30px;
    }

    .img_02 {
        width: 14px;
        height: 14px;
    }

    .info__money__rating{
        padding-top: 20px;
        border-top: 2px solid #ccc;
    }
    .info__support{
        padding-top: 10px;
    }

    .py-4 {
        padding-top: 13px;
        padding-bottom: 13px;
        display: flex;
        justify-content: space-between; // Add this to create space between items
        align-items: center; // Align items vertically in the flex container
        border-top: 1px solid #ccc; // Add border to the bottom
    }

    strong {
        font-weight: bold; // Make the text inside <strong> bold
    }

    .p {
        margin-right: 200px; // Add margin as needed or adjust according to your design
    }

    &:last-child .py-4 {
        border-top: none; // Remove border from the last child
    }
}

.UserDetail {
    flex: 2;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}