.ShowingByCinema {
    width: 100%;
    color: #4a4a4a;
    font-weight: 400px;

    .dayListCine {
        width: 80%;

        h3 {
            font-size: 25px;
            border-left: 5px solid #034EA2;
            padding: 5px;
        }

        .days {
            padding: 20px 0px;
            width: 100%;
            list-style-type: none;
            display: flex;
            margin: 20px auto;
            justify-content: center;
            text-align: center;
            border-bottom: 2px solid #034EA2;

            .Checked {
                background-color: #034EA2;
                color: white;
            }
        }

        .day:hover {
            color: white;
        }

        .day {
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            margin-right: 10px;
            cursor: pointer;
        }

        .moviesbyday {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 0.6%;

            .boxMovies {
                text-align: center;
                width: calc(23% - 1%);
                /* Adjusted width to fit four movies in a row with a 1% margin */
                margin: 0.5%;

                img {
                    width: 100%;
                    cursor: pointer;
                    border-radius: 5px;
                    width: 184px;
                    height: 246px;
                }

                .moviesbyday_h4 {
                    color: #4a4a4a;
                    font-weight: 400px;
                    font-size: 14px;
                }

                margin-bottom: 30px;
                /* Added bottom margin of 20px */

                &.Checked {
                    h4 {
                        color: #034EA2;
                    }
                }

                &:hover {
                    color: white;
                }
            }
        }

        .SessionsByMovie {
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 40px 5px;

            .SesssionBox {
                display: flex;
                padding: 5px 10px;
                flex-wrap: wrap;

                >p {
                    padding: 5px;
                }

                button {
                    padding: 10px 30px;
                    margin-left: 5px;
                    box-sizing: border-box;
                    border: 1px solid gainsboro;
                    background-color: white;
                    border-radius: 5px;
                }

                >button:hover {
                    color: white;
                }
            }
        }
    }
}