@import "../../index.scss";
// New CSS of Dragon

header {
  width: 75%;
  margin: 0 auto;
  padding: 12px 0;

  >.header-content {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#header-left {
  // flex: initial;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  >.galaxy-logo {
    margin-right: auto;
  }

  >.buy-ticket-logo {}
}

#header-center {
  width: 50%;

  .header-center-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;

    @media (max-width: $tablet) {
      display: none;
    }

    .buy-ticket-logo {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

#header-right {
  // flex: initial;
  width: 30%;
  display: flex;
  // flex-basis: 50%;
  align-items: center;
  justify-content: flex-end;

  >.header-search-icon {
    margin-right: 16px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .header-user {
    display: flex;
    align-items: center;
  }

  .header-user-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    .top {
      display: flex;
      align-items: center;
    }

    .bottom {
      display: flex;

      >img {
        padding: 0 9px;
      }
    }
  }

  >.header-right-img {
    margin-left: 16px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .header-right-mobile-menu {
    display: none;

    @media (max-width: $tablet) {
      border: none;
      display: flex;
    }
  }
}

.header-menu-label {
  padding: 0 20px;
  color: $header_text_color;
  display: flex;
  align-items: center;
  gap: 5px;
}

#header-mobile-siderbar {
  padding: 24px 16px 24px 0;

  .mobile-siderbar-buy-ticket {
    margin: 16px 0;
    display: flex;
    gap: 30px;
    justify-content: center;

    >img {
      width: 85px;
      height: 27px;
    }
  }

  .mobile-siderbar-menu {
    >li:first-child {
      display: none !important;
    }
  }
}

.modified-menu-label {
  >div {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    gap: 10px;
  }
}