.CineBySlug {
font-family: "Nunito Sans",sans-serif;

   

    .CineInfo {
        padding-top: 50px;
        margin: 0px auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        .CineInfo-items{
            width: 700px;
           
        }
        .CineInfo_h1{
            font-size: 22px;
            color: #4a4a4a;
        }
        .CineInfo_p{
            padding-top: 5px;
            font-size: 14px;
        }
         .option_infor_list{

           display: flex;
           gap: 6px;
        }
        .option_infor{

            width: 160px;
            height: 36px;
        }
    }

    .CineBooking {
        padding: 20px 0px;
        margin: 0px auto;
        width: 70%;
        background-color: white;
    }
}