/* Define styles for the container and columns outside of the media query */
.footer {
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 5px;

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-width: 1300px;
        .footer__head {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .footer__content {
                color: #FFFFFFB3;
                width: 25%; // Initial width for large screens (4 columns)
                margin-top: 5px;

                h2 {
                    &:hover {
                        color: #f26b38;
                    }
                    cursor: pointer;
                    font-size: 1rem; // or desired font size
                }

                .footer__list {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    margin-top: 3px;

                    .footer__list--items {
                        &:hover {
                            color: #f26b38;
                        }
                        cursor: pointer;
                        font-size: 0.875rem; // or desired font size
                        list-style-type: none;
                        margin-top: 15px;
                    }
                }
            }
        }

        

        .Footer_connect__icon__9_xjQ {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;

            svg {
                margin-bottom: 5px;
                fill: #737373;
                width: 30px;
                height: 30px;
                gap: 2rem;
            }
        }
        .Footer_connect__icon__9_xjQ svg {
            fill: #737373;
            margin-right: 8px; /* Add a 3px gap between the SVG icons */
        }

        img {
            margin-bottom: 10px;
            width: 150px;
            height: 56px;
        }
        .Footer_footer__bottom__Ro_Ls {
        border-top: 2px solid #ccc;
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4;
        color: #FFFFFFB3;
        max-width: 100%;

    }
}
}
