#BuyTicketQuickly {
  position: absolute;
  border-radius: 6px;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90%;

  display: flex;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; //   justify-content: center;
  > .select-ticket {
    height: 63px;
    flex: 1;
    &:first-child {
      flex-basis: 200px;
      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
      overflow: hidden;
    }
    &:first-child:hover {
      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 8px !important;
      z-index: 10 !important;
    }
  }
}

.ticket-quickly-title {
  color: grey;
  display: flex;
  align-items: center;

  > svg {
    margin-right: 10px;
    background-color: #f58020;
    color: white;
    border-radius: 50%;
  }
}

.buyTicketQuicklyButton {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.buyTicketQuicklyButton:disabled {
  color: #4a4a4a !important;
  // background-color: #ffbb73 !important;
}
