.showing__film {
    padding: 0.75rem;
    width: 25%;
    font-family: "Nunito Sans", sans-serif;



    .showing__film--movie {

        .showing__film--image {
            width: 100%;
        }

        // :hover {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 0.75rem;
        //     justify-content: center;
        //     align-items: center;

        // }

        .btnBuy {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            gap: 5px;
        }
        
        .btnTrailer {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-transform: uppercase;
            background: none;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            gap: 5px;
        }

        .btnTrailer:hover {
            background-color: lightsalmon;
            border: 1px solid lightsalmon;

        }

        .showing__film--point {
            position: absolute;
            right: 1rem;
            bottom: 3.5rem;
            z-index: 0.5;

            .p-T {
                position: absolute;
                right: 0;
                padding: 5px;
                color: #ffffff;
                background: #F58020;

            }
        }

        .showing__film--title {
            .showing__film--paragraph {
                font-weight: 500;
                text-transform: uppercase;

            }
        }
    }
}

.showing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &__film {
        &--movie {
            position: relative;

            &:hover {
                .showing__film--hover {
                    display: flex;
                }
            }
        }

        &--title {
            font-weight: 500;
        }

        &--paragraph {
            font-weight: 500;
            color: black;
        }

        &--hover {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            justify-content: center;
            align-items: center;
            position: absolute;
            display: none;
            border-radius: 12px;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            p {
                background-color: lightblue;
                border-radius: 5px;
                padding: 3px 5px;
                color: #fff;
            }

            button {
                border-radius: 5px;
                color: white;
                background-color: orange;
                border: 0px;
                min-width: 150px;
                cursor: pointer;


                &:hover {
                    background-color: lightsalmon;
                }
            }
        }

        &--image {
            border-radius: 12px;
        }
    }
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền làm mờ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    /* Màu nền modal */
    padding: 0px;
}