#HeaderShowMovie {
  width: 850px;
  height: 600px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
}
.show-movie-section {
  margin-bottom: 20px; // Adjust the margin as needed for spacing
}

.show-movie-title {
  // Add your styling for the title link if needed
}

.show-movie-content {
  // Add your styling for the content container if needed
}