@import '../../../index.scss';

.tabFilm {

    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding-top: 50px;

    .tabFilm__button {
        border: 1px solid orange;
        margin: 10px auto;
        padding: 10px 50px;
        color: orange;
        border-radius: 5px;
    }

    .tabFilm__button:hover {
        background-color: orange;
    }

    .containerTabFilm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ant-tabs-tab-btn {
        color: #000;
    }

    .ant-tabs-nav-list {
        transform: none;
    }

    .ant-tabs-tab {
        &:hover {
            color: $primary_color !important;
        }
    }

    // Long's Comment CSS này lại
    // .ant-tabs-tab-active {
    //     border-bottom: 2px solid $primary_color !important;
    //     z-index: 999;

    //     .ant-tabs-tab-btn {
    //         color: $primary_color !important;
    //     }
    // }

    // .ant-tabs-tab {
    //     border-color: $primary_color;

    //     &-btn {
    //         color: #000;
    //         font-size: 1.125rem;
    //     }
    // }

    .ant-tabs-content-holder {
        width: 100%;
    }

    :where(.css-dev-only-do-not-override-nnuwmp).ant-tabs .ant-tabs-ink-bar {
        position: absolute;
        background: $primary_color;
        pointer-events: none;
    }

    &__button {
        color: $primary_color;
        border: 1px solid $primary_color;

        &:hover {
            color: #fff;
            background-color: $primary_color;
        }
    }

}