* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif !important;
  // font-size: 14px;

}

$primary_color: #034ea2;
$paragraph_color: #a0a3a7;

// Long's Comment
// .container {
//   width: 80%;

//   @media (min-width: 768px) {
//     width: 90%;
//   }
// }

// Long's Responsive Css
$header_text_color: #4a4a4a;
$tablet: 1024px;
$desktop-lg: 1390px;