@import '../../index.scss';

.new {
  border-top: 3px solid rgba($color: #000000, $alpha: .2);
  padding: 10px 20px; /* Adjust padding values as needed */
  > h1 {
    font-size: 25px;
  }
  .content__items {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the items horizontally */
    overflow: hidden; /* Hide content that overflows its box */
  }
  .content__list--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px; /* Add margin to create a gap around each .content__list--items */
    .img_content {
      width: 292px;
      height: 168px;
    }
    span {
      text-align: center;
      width: 292px; /* Set the width of the span to match the image */
      margin-top: 10px;
    }
    animation: moveRight 100s linear infinite; /* Apply animation */
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%); /* Starting position (off to the right) */
  }
  100% {
    transform: translateX(-100%); /* Ending position (off to the left) */
  }
}
